<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="sheet-flex-container">
        <div class="sheet-sidebar">
            <div class="header-container">
                <!-- <img id="sheet-logo" src="systems/afmbe/images/AFMBElogo.gif"> -->
                <div class="polaroid-container">
                    <img class="polaroid" src="systems/afmbe/images/polaroid.png">
                    <img class="profile-img" data-edit="img" src="{{actor.img}}">
                    <div class="sheet-nav-container" hidden>
                        <nav class="sheet-nav sheet-tabs tabs" data-group="primary" >
                            <a class="item" data-tab="core">Core</a>
                        </nav>
                    </div>
                    <div class="profile-tags-container">
                        <div class="tags-flex-container"></div>
                    </div>
                </div>
                <div class="header-info-container">
                    <div class="info-container">
                        <h1>
                            <input class="charname" type="text" name="name" value="{{actor.name}}" placeholder="Name">
                        </h1>
                        <div class="attribute-container">
                            <h2 id="attributes-header">
                                <div>Primary Attributes</div>
                            </h2>
                            <div class="resource-container">
                                <div class="resource">
                                    <button type="button">Weight</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.weight" value="{{data.weight}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Speed</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.speed" value="{{data.speed}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Acceleration</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.acceleration" value="{{data.acceleration}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Range</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.range" value="{{data.range}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Toughness</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.toughness" value="{{data.toughness}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Handling</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.handling" value="{{data.handling}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Damage Cpty</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.damage_capacity" value="{{data.damage_capacity}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Armor Value</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.armor_value" value="{{data.armor_value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Accuracy</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.accuracy" value="{{data.accuracy}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Cost</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="data.cost" value="{{data.cost}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button">Availability</button>
                                    <div class="resource-values attribute">
                                        <input type="text" name="data.availability" value="{{data.availability}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sheet-body">

            {{!-- Core Tab --}}
            <div class="tab core" data-group="primary" data-tab="core">
                <div class="bio-container">
                    <h2>Description</h2>
                    {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
                </div>

                <div class="weapon-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="weapon">+</button> 
                        <span>Weapons</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">Name</th>
                                <th>Range</th>
                                <th>Damage</th>
                                <th>Capacity</th>
                                <th>EV</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.data.weapon as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <i class="fas fa-dice-d20 damage-roll"></i>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.data.range}}</td>
                                    <td class="table-center-align">{{item.data.damage}}</td>
                                    <td>
                                        <div class="table-flex-cell">
                                            <div>{{item.data.capacity.value}}</div>
                                            /
                                            <div>{{item.data.capacity.max}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.data.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="item-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="item">+</button> 
                        <span>Equipped Items</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">Name</th>
                                <th>Qty</th>
                                <th>Armor Value</th>
                                <th>EV</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.data.equippedItem as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <input type="checkbox" class="toggleEquipped" {{checked item.data.equipped}}>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.data.qty}}</td>
                                    <td class="table-center-align armor-button-cell">
                                        <button type="button">{{item.data.armor_value}}</button>
                                    </td>
                                    <td class="table-center-align">{{item.data.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="item-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="item">+</button> 
                        <span>Items</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">Name</th>
                                <th>Qty</th>
                                <th>EV</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.data.item as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <input type="checkbox" class="toggleEquipped" {{checked item.data.equipped}}>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.data.qty}}</td>
                                    <td class="table-center-align">{{item.data.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>

        </section>
    </div>
</form>