<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="Name">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>Attributes</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Range</th>
                            <td><input type="text" name="data.range" value="{{data.range}}"></td>
                        </tr>
                        <tr>
                            <th>Damage</th>
                            <td><input type="text" name="data.damage" value="{{data.damage}}"></td>
                        </tr>
                        <tr>
                            <th>Damage Multiplier</th>
                            <td>
                                <select id="damage_cha_multiplier" name="data.damage_cha_multiplier">
                                    {{#select item.data.data.damage_cha_multiplier}}
                                            <option value="none">None</option>
                                        {{#each item.data.data.damage_characteristics as |damage_characteristic value|}}
                                            <option value="{{value}}">{{damage_characteristic}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Damage Type</th>
                            <td>
                                <select id="damageTypeSelect" name="data.damage_type" data-type="String">
                                    {{#select item.data.data.damage_type}}
                                        {{#each item.data.data.damage_types as |damage_types key|}}
                                            <option value="{{key}}">{{damage_types}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Ammo Type</th>
                            <td><input type="text" name="data.ammo_type" value="{{data.ammo_type}}"></td>
                        </tr>
                        <tr>
                            <th>Capacity</th>
                            <td>
                                <div class="item-name-flex-container">
                                    <input type="number" name="data.capacity.value" value="{{data.capacity.value}}">
                                    <input type="number" name="data.capacity.max" value="{{data.capacity.max}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>EV</th>
                            <td><input type="number" name="data.encumbrance" value="{{data.encumbrance}}"></td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td><input type="number" name="data.cost" value="{{data.cost}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item-description-sidebar">
                <h2 class="item-desc">Description</h2>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>